html {
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #fff;
  margin: 0;
  background-image: url(Imagens/Space.jpg);
}

header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.266);
}

.header-logo {
  font-size: 17px;
  text-align: left;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.753);
  display: flex;
  align-items: center;
  padding-left: 16px;
  height: 72px;
}

.header-logo h1 {
  margin-left: 20px;
  padding-right: 10px;
  color: #fff;
  text-shadow: 0 0 5px white;
}

.logo-image {
  width: 50px;
  height: 50px;
}

.ship-container {
  display: flex;
  border: solid white 2px;
  margin-bottom: 20px;
  position: relative;
}

.nave1-image {
  flex: 0 0 auto;
  order: 2; 
}

.nave1-image img {
  max-width: 500px;
  height: 400px;
}
.Ship-Name1 {
  text-align: right;
}
.ship-info {
  color: #fff;
  padding: 20px;
  order: 1; 
}
.Ship-Name2 {
  text-align: left;
}
